<header>
    <!--Logo-->
    <div id="Logo">
        <img src="assets/imagenes/Logo.png" alt="">
    </div>
    <!--Menú-->
    <nav>
        <ul id="Navegador">
            <li class="Navegador-item"><a routerLink="/principal">Inicio</a></li>
            <li class="Navegador-item"><a routerLink="['campeones']">Campeones</a></li>
            <li class="Navegador-item"><a href="html/regiones.html">Regiones</a></li>
            <li class="Navegador-item"><a href="html/mapa.html">Mapa</a></li>
        </ul>
    </nav>
    <span id="IniciarSesion"><a href="html/IniciarSesion.html">Iniciar Sesión</a></span>
</header>