* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

article h1 {
    color: rgb(191, 191, 152);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 10px;
    font-size: 25px;
    margin-bottom: 5%;
}

.iconoDestacado {
    margin-top: 5%;
    margin-bottom: 2%;
    vertical-align: middle;
    position: relative;
    top: 0%;
    left: 47.5%;
    z-index: -5;
}