<Section>
    <article>
        <h1>Registrarse</h1>
        <form>
            <div class="separacion">
                <label for="Usuario">Usuario:</label>
                <input type="text" id="Usuario" name="Usuario" required>
                <label for="email">Correo electrónico:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="separacion">
                <label for="contraseña">Contraseña:</label>
                <input type="password" id="contraseña" name="contraseña" required>
                <label for="confirmar_contraseña">Confirmar contraseña:</label>
                <input type="password" id="confirmar_contraseña" name="confirmar_contraseña" required>
                <label for="edad">Edad</label>
                <input type="number" min="12" name="edad" required>
            </div>
            <input type="submit" value="Registrarse" id="enviar">
        </form>
    </article>
</Section>